header{
   background-image:url("../img/pattern.png") ;
   background-color: rgb(72, 174, 232);
}

.logo{
    width: 400px;
   margin-top: 50px;
}

h1{
    font-size: 60px;
}

.autore{
    color: rgb(17, 168, 227);
}